<a href="https://colab.research.google.com/github/vijayareddy2002/coding_problems/blob/main/fmml_day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
(-3) ** 2

9

In [2]:
(2 < 3) == (4 < 5)

True

In [3]:
ram_age = 20
hari_age = 30
akbar_age = 40

In [4]:
(ram_age < hari_age) and (hari_age > akbar_age)

False

In [5]:
Car_mileage = 15
Price_of_fuel = 100
Cash_in_hand = 65

In [6]:
def mileage_calculator(mileage, fuel, cash):
  return (mileage/fuel*cash)

In [7]:
results = mileage_calculator (10, 50, 460)